{
	"extends": ["stylelint-config-standard", "stylelint-config-recommended"],
	"plugins": ["stylelint-scss"],
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"tailwind",
					"layer",
					"apply",
					"variants",
					"responsive",
					"screen"
				]
			}
		],
		"block-no-empty": null,
		"unit-allowed-list": ["px", "em", "rem", "s"],
		"declaration-block-trailing-semicolon": null,
		"no-descending-specificity": null
	}
}
