@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/Switzer-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url('/fonts/Switzer-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/fonts/Switzer-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: Switzer;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/fonts/Switzer-Bold.woff2') format('woff2');
}
