@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter/Inter-var-latin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
  }

  @font-face {
    font-family: "SpaceGrotesk";
    src: url("../public/fonts/SpaceGrotesk/SpaceGrotesk-var.woff2")
      format("woff2");
    font-style: normal;
    font-weight: 100 800;
    font-display: optional;
  }
}

::selection {
  background-color: #1db8de;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

.focus:focus {
  @apply border-spiro-500 outline-none;
  /*   box-shadow: 0 0 0 3px rgba(103, 222, 255, 1); */
}

.container {
  @apply max-w-screen-lg;
}

// Typography
.h1 {
  @apply text-4xl font-bold leading-tight tracking-tight;
}

.h2 {
  @apply text-3xl font-bold leading-tight tracking-tight;
}

.h3 {
  @apply text-3xl font-bold leading-tight;
}

.h4 {
  @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }
}

// Buttons
.btn,
.btn-sm {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3;
}

.btn-lg {
  @apply px-9 py-5 text-lg;
}

.btn-sm {
  @apply px-4 py-2 shadow;
}

// Forms
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply bg-white border border-electric-300 focus:border-electric-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply py-3 px-4;
}

.form-input,
.form-textarea {
  @apply placeholder-electric-500;
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-electric-800 rounded-sm;
}
