@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SpaceGrotesk";
    src:
      url("../public/fonts/SpaceGrotesk/SpaceGrotesk-var.woff2")
      format("woff2");
    font-style: normal;
    font-weight: 100 800;
    font-display: optional;
  }
}

::selection {
  @apply bg-violet-5 text-violet-12 dark:bg-violetDark-5 dark:text-violetDark-12;
}

html {
  scroll-behavior: smooth;
}

.focus:focus {
  @apply border-spiro-500 outline-none;

  /* box-shadow: 0 0 0 3px rgba(103, 222, 255, 1); */
}

.container {
  @apply max-w-screen-lg;
}

// Typography
.h1 {
  @apply text-4xl font-bold leading-tight tracking-tight;
}

.h2 {
  @apply text-3xl font-bold leading-tight tracking-tight;
}

.h3 {
  @apply text-3xl font-bold leading-tight;
}

.h4 {
  @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }
}

// Buttons
.btn,
.btn-sm,
.btn-lg,
.btn-xl {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-4 py-3;
}

.btn-sm {
  @apply px-2.5 py-2;
}

.btn-lg {
  @apply px-6 py-4 text-lg leading-snug;
}

.btn-xl {
  @apply px-9 py-5 text-lg leading-snug;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white dark:bg-violetDark-4 dark:hover:bg-violetDark-5 dark:active:bg-violetDark-6 dark:text-violetDark-11;
}

.btn-secondary {
  @apply bg-electric-700 hover:bg-electric-800 active:bg-electric-900 text-blue-150;
}

.btn-primary-shadow {
  @apply shadow-primary hover:shadow-primary-sm active:shadow-primary-sm;
}

// Forms
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply bg-white border border-electric-300 focus:border-electric-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply py-3 px-4;
}

.form-input,
.form-textarea {
  @apply placeholder-electric-500;
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-electric-800 rounded-sm;
}

/* Prose Specific */
.prose img {
  @apply m-0 rounded shadow-md;
}

.prose img + em {
  @apply block mt-3 mb-8 text-base;
}

.prose pre {
  @apply border border-electric-200 bg-electric-100 dark:border-electric-800 dark:bg-electric-950;
}

.prose code {
  @apply text-electric-700 dark:text-electric-250 px-1 py-0.5 border border-electric-200 dark:border-electric-800 rounded-md bg-electric-100 dark:bg-electric-950;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-electric-700 dark:text-electric-200;
}

.token.punctuation {
  @apply text-electric-700 dark:text-electric-200;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-electric-800 dark:text-electric-100;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-line {
  @apply block px-4 -mx-4 bg-electric-100 border-l-4 border-blue-500 dark:bg-electric-800;
}
